<nav
  class="navbar bg-transparent w-100 position-absolute pt-4 justify-content-between px-5 px-xs-3"
>
  <div>
    <form class="form-inline d-flex">
      <input
        class="form-control mr-sm-2 px-3 py-2 bg-transparent border-white text-white"
        type="text"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn text-white position-relative search-btn" type="submit">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </form>
  </div>
  <div>
    <a class="navbar-brand ml-auto text-white btn"
      ><fa-icon [icon]="faBars"></fa-icon
    ></a>
  </div>
</nav>
