<section class="second-section w-100" id="secondSec">
  <div class="d-flex flex-column">
    <div class="row flex-md-row flex-lg-row flex-sm-column flex-xs-column">
      <div
        class="col d-flex flex-row ps-md-5 ps-lg-5 py-xs-5 py-sm-4 py-md-5 py-lg-5 px-sm-3 align-items-center"
      >
        <img [src]="imagePath" alt="Caeser Salad" class="w-35 w-xs-35" />
        <div>
          <h5>Caeser Salad</h5>
          <h2 class="my-3">$20</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis
            fuga, voluptatibus dolore totam nostrum ipsam! Dignissimos libero
            deleniti.
          </p>
        </div>
      </div>
      <div
        class="col d-flex flex-row pe-md-5 pe-lg-5 py-xs-5 py-sm-4 py-md-5 py-lg-5 px-sm-3 align-items-center"
      >
        <img src="../../assets/images/2.png" alt="Greek Salad" class="w-35 w-xs-35" />
        <div>
          <h5>Greek Salad</h5>
          <h2 class="my-3">$45</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis
            fuga, voluptatibus dolore totam nostrum ipsam! Dignissimos libero
            deleniti.
          </p>
        </div>
      </div>
    </div>
    <div class="row flex-md-row flex-lg-row flex-sm-column flex-xs-column">
      <div
        class="col d-flex flex-row ps-md-5 ps-lg-5 py-xs-5 py-sm-4 py-md-5 py-lg-5 px-sm-3 align-items-center"
      >
        <img src="../../assets/images/3.png" alt="Mexican Salad" class="w-xs-35 w-35" />
        <div>
          <h5>Mexican Salad</h5>
          <h2 class="my-3">$13</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis
            fuga, voluptatibus dolore totam nostrum ipsam! Dignissimos libero
            deleniti.
          </p>
        </div>
      </div>
      <div
        class="col d-flex flex-row pe-md-5 pe-lg-5 py-xs-5 py-sm-4 py-md-5 py-lg-5 px-sm-3 align-items-center"
      >
        <img src="../../assets/images/4.png" alt="Classic Ricotta" class="w-35 w-xs-35" />
        <div>
          <h5>Classic Ricottah</h5>
          <h2 class="my-3">$24</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis
            fuga, voluptatibus dolore totam nostrum ipsam! Dignissimos libero
            deleniti.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
