<section class="first-section d-flex align-items-center w-100">
    <div class="pt-140 d-flex flex-column align-items-center">
      <div class="d-flex flex-column align-items-center p-lg-10 p-sm-5 p-xs-3">
        <h1 class="display-1 text-white">Natural Food</h1>
        <p class="text-white lead py-2 text-center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
          officia doloremque laudantium! Incidunt libero, similique excepturi
          qui dignissimos dolor et modi laborum fugiat iusto, vitae
          necessitatibus praesentium error eum quia.
        </p>
      </div>
      <div class="d-flex mt-3 flex-xs-column align-items-center">
        <button class="btn btn-success rounded-pill px-5 py-2 me-3 mb-xs-3">
          <strong> READ MORE </strong>
        </button>
        <button
          class="btn btn-primary bg-white border-0 px-5 py-2 rounded-pill"
        >
          <a href="#secondSec" class="text-decoration-none text-black">
            <fa-icon [icon]="faCircleDown" class="me-2"></fa-icon><strong>VIEW ALL RECIPES </strong>
          </a>
        </button>
      </div>
    </div>
  </section>