.first-section {
  background-image: url("../../assets/images/bg-image.jpeg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.display-1 {
  font-weight: 900;
}

.w-35 {
  width: 40%;
}
/* custom padding */
.pt-140 {
  padding-top: 140px;
}

@media (min-width: 992px) {
  .first-section {
    background-position: 0 -450px;
  }
}

@media (min-width: 768px) {
  .p-lg-10 {
    padding: 0 9rem !important;
  }
}


/* to be modified accordingly */
@media (max-width: 576px) {
    .p-xs-3 {
      padding: 1.2rem !important;
    }
  
    .px-xs-3{
      padding: 1rem !important;
    }
  
    .py-xs-5 {
      padding: 2rem !important;
    }
  
    .flex-xs-column {
      flex-direction: column !important;
    }
  
    .mb-xs-3 {
      margin-bottom: 1rem !important;
    }
  
    .w-xs-35 {
      width: 35% !important;
    }
  }
  